.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 300px;
  margin-top: 34px;
  padding-bottom: 92px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  max-width: 720px;
  margin: 0 auto;
  font-family: "Inter-Black", sans-serif;
  font-size: 97px;
  line-height: 1.5;
  text-align: center;
}

.header__subheader {
  font-weight: bold;
  max-width: 720px;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

.header__content-image {
  position: relative;
  max-width: 990px;
  margin: auto;
}

.header__rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  mix-blend-mode: hue;
  background: #000;
  z-index: 1;
}

.header__rectangle:hover {
  position: relative;
  z-index: -1;
}

.header__image {
  max-width: 984px;
  padding-bottom: 0;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__title {
    max-width: 228px;
    margin: 0 auto;
    font-family: "Inter-Black", sans-serif;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
  }

  .header__subheader {
    max-width: 288px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.2;
  }

  .header__content-image {
    max-width: 320px;
    overflow: hidden;
  }

  .header__image {
    max-width: 320px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1;
  }

  .header__subheader {
    max-width: 720px;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1.2;
  }

  .header__content-image {
    max-width: 768px;
    overflow: hidden;
  }

  .header__image {
    width: 100%;
    padding-bottom: 0;
  }
}
