@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/pages.css");
@import url("../blocks/header.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");
@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
  }
  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1;
  }

  .header__subheader {
    margin: 25px auto 30px;
  }

  .intro {
    margin: 90px 24px 64px;
    max-width: 720px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 1;
  }

  .intro__paragraph_text_l {
    max-width: 720px;
    font-size: 24px;
    line-height: 1.4;
    margin: 50px 0 0;
  }

  .intro__paragraph_text_m {
    max-width: 720px;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    max-width: 188px;
  }

  .header__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 1.1;
  }

  .header__subheader {
    max-width: 288px;
    font-size: 16px;
    margin: 16px auto 40px;
  }

  .intro {
    margin: 16px;
    max-width: 290px;
  }

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1;
  }

  .intro__paragraph_text_l {
    max-width: 288px;
    font-size: 24px;
    line-height: 1.25;
    margin: 40px 0 10px;
  }

  .intro__paragraph_text_m {
    max-width: 288px;
  }

  .intro__paragraph_text_s {
    max-width: 288px;
    font-size: 16px;
  }

  .footer__copyright {
    max-width: 194px;
  }
}
